// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #e6f3ff;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}